body{
    font-family: "Work Sans", sans-serif;
  }
.userpage-wrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user1-wrap{
    width: 20%;
}
.user2-wrap{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: right;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    margin-top: 0%;
    margin-bottom: 0%;
   
}


.main{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
    height: 100%;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    margin-top: 0%;
    padding: 2rem;

}
.main{
    
    margin: auto 5rem;
    width: 80%;
}
.main-wrap{
    display: flex;
    height: 80%;
    padding-right: 2rem;
    padding-left: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 12px;
    margin-top: 3rem;
    border-top: 1px solid #fff;

    
}
.user-cont{
    width: 240px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.image1{
    background-color: #eda3f8;
    border-radius: 50%;
    padding: 15px;
    margin-left: 5rem;
}
.image2{
    background-color: #b49cf8;
    border-radius: 50%;
    padding: 15px;
    margin-left: 5rem;
}
.image3{
    background-color: #fcafa1;
    border-radius: 50%;
    padding: 15px;
    margin-left: 5rem;
}
.image4{
    background-color: #f5aebf;
    border-radius: 50%;
    padding: 15px;
    margin-left: 5rem;
}
.org-wrap{
    display: flex;
    flex-direction: row;
    margin-left: 0%;
    
}
.org-wrap p{
    margin-right: .5rem;
    text-align: left;

}
.user-wrap{
    display: flex;
}
#user-color{
    background-color: #d2f5f5;
    border-left: 2px solid #39CDCC;
    width: 105%;
    margin-left: 0%;
    padding-left: 0%;

}
h3{
    color: #213F7D;
    text-align: center;
    font-size: 16px;

}
.dot-icon-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4rem  2rem;
}

table {
    width: 900px;
    height: 800px;
    border-collapse: collapse;
  }
  th{
      text-align: left;
      padding: 0 2rem;
      
  } 
  
  td {
    text-align: left;
    border-bottom: 1px thin #545F7D;
    padding: 0 1rem;
    font-size: 14px;
    color: #545F7D;

  }
  .no-border{
    border-bottom: none;
    font-weight: 600;
}
.no-border-line{
    border-bottom: none;
}
.react-icon{
    color: #545F7D;
}
.main-btn1{
    /* height: 1rem; */
    /* background-color: #e9edf7; */
    color: #545F7D;
    border-radius: 25px;
    padding: 12px;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 10rem;


}
#main-btn1{
    /* height: 1rem; */
    /* background-color: #e9edf7; */
    color: #545F7D;
    border-radius: 25px;
    padding: 12px;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;


}
.main-btn2{
    /* height: 1rem; */
    /* background-color: #f7eabf; */
    color: #e9bf37;
    border-radius: 25px;
    padding: 8px;
    font-size: 18px;
    font-weight: lighter;
   
    text-align: center;
    


}
.main-btn3{
    /* height: 1rem; */
    /* background-color: #fad9e1; */
    color: #E4033B;
    border-radius: 25px;
    padding: 8px;
    font-size: 18px;
    
    font-weight: lighter;
    
    text-align: right;
    
    text-align: center;

}
.main-btn4{
    /* height: 1rem; */
    /* background-color: #dcf0e2; */
    color: #39CD62;
    border-radius: 25px;
    padding: 8px;
    font-size: 18px;
  
    font-weight: lighter;
    text-align: center;
    
}
.main-btn-main{
    background-color: red;
    
}
.bottom-div{
    display: flex;
    justify-content: space-between;
}
.bottom-div p{
    color: #545F7D;
}
mark{
    background-color: #c0c9e2;
    color: #213F7D;

}

