body{
    font-family: "Work Sans", sans-serif;
  }
.main{
    
    margin: auto 5rem;
    width: 80%;
}
.filter-div{
    position: relative;
    height: 33rem;
    width: 279px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #fff;
    bottom: 38rem;
    left: 2rem;
    padding-top: 22px;
}
.filter-div label{
    color: #545F7D;
    margin-top: 5px;
}
.filter-div input{
    color: #545F7D;
   
}
.filter-div2{
    position: relative;
    height: 7rem;
    width: 8rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #fff;
    bottom: 70rem;
    left: 40rem;
    padding: .2rem;

}
.reset{
    width: 98px;
    padding: 13px;
    margin-right: 6px;
    border: 1px solid #545F7D
}
.reset2-btn{
    width: 98px;
    background-color: #39CDCC;
    color: #fff;
    padding: 13px;
    margin-left: 6px;

}
.no-border{
    font-weight: 600;
}
#user-color{
    background-color: #d2f5f5;
    border-left: 2px solid #39CDCC;
    width: 105%;
    margin-left: 0%;
    padding-left: 0%;

}