body{
    font-family: "Work Sans", sans-serif;
  }
.main-side-wrap{
    display: flex;
    padding-bottom: 0%;

}
.sidepage-wrap{
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 3rem;
    width: 100%;
    height: 80%;
    
}
.arrow-wrap{
    display: flex;
    
}
.arrow-wrap p{
    text-align: right;
}
.details-wrap{
    width: 66%;
    display: flex;
    justify-content: space-between;
    margin-right: 10rem;
}
.detail-btn1{
    margin: 1rem 3px;
    border: 1px solid #E4033B;
    color: #E4033B;
    padding: 7px;
    border-radius: 7px;
    background-color: #fff;
    font-size: 14px;
    line-height: 16.42px;
}
.detail-btn2{
    margin: 1rem 3px;
    border: 1px solid #39CDCC;
    color: #39CDCC;
    padding: 7px;
    border-radius: 7px;
    background-color: #fff;
    font-size: 14px;
    line-height: 16.42px;
}
.details-wrap h2{
    color: #213F7D;

}
.green-txt{
    color: #39CDCC;
    border-bottom: 1px solid #39CDCC;
}
.side1-div{
    width: 67%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    padding: 0 18px;
}
.side2-div{
    display: flex;
    justify-content: space-around;
    margin-right: 13rem;
    width: 80%;
    
}
.user-side-img{
    width: 50px;
    height: 50px;
    background-color: #545F7D;
    border-radius: 50%;
    margin-top: 1rem;

}
#user-color{
    background-color: #d2f5f5;
    border-left: 2px solid #39CDCC;
    width: 105%;
    margin-left: 0%;
    padding-left: 0%;

}
.general-wrap{
    display: flex;
    justify-content: space-between;
}
.side4-wrap{
    width: 70%;
    height: 80%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 12px;
    margin-top: 4rem;
    margin-bottom: 1rem;

}
.side4-div{
    display: flex;
    flex-direction: column;
    height: 13rem;
    padding: 15px;
}

.side4-text{
    text-align: left;
    padding:0 18px;
}
.sub-wrap{
    display: flex;
    justify-content: space-between;
    padding:0 18px;
    
}
.sub-wrap p{
    text-align: left;
}
.sub-txt{
    color: #545F7D;
    font-size: 12px;
    font-weight: 400;
    font-family: sans-serif;
    text-align: left;
}
.sub-p{
    color: #545F7D;
    font-size: 16px;
    line-height: 18.47px;
    font-weight: 500;


}

.element-wrap{
    
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: #fff;
    margin-bottom: 0;
}
#element-wrap{
    height: 100%;
    width: 283px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 15px;
}
.main-div{
    display: flex;
    flex-direction: column;
    justify-content: left;
    
}
.third-div, .first-div, .second-div, .logout-div , .version-div{
    display: flex;
    flex-direction: row;
    
    
    
}
.third-div p, .first-div p, .second-div p , .logout-div p, .version-div p{
    margin-left: .5rem;
}
.header3{
    text-align: left;
    color: #545F7D;
    font-size: 12px;
}
p{
    color: #213F7D;
    text-align: center;
    font-size: 16px;

}

.providus-txt{
    color: #213F7D;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.81px;
}