.element-wrap{
    
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: #fff;
    margin-bottom: 14rem;
}
#element-wrap{
    width: 283px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 15px;
}
.main-div{
    display: flex;
    flex-direction: column;
    justify-content: left;
    
}
.third-div, .first-div, .second-div{
    display: flex;
    flex-direction: row;
       
}
.third-div, .first-div, .second-div{
    display: flex;
    flex-direction: row;
    
    
    
}

.header3{
    text-align: left;
    color: #545F7D;
    font-size: 12px;
}
p{
    color: #213F7D;
    text-align: center;
    font-size: 16px;

}